@import 'variables';
@import 'preboot';

#reset > .global-reset();

/* TYPOGRAPHY DEFAULTS */

@text-color: #111;
@link-color: @accent-color;

// Title text defaults
// @headline-font-family is defined in variables.less
@headline-font-size: 24px;
@headline-line-height: 1.2;
@headline-font-weight: 400;

.headline-font() {
  font-family: @headline-font-family;
  font-size: @headline-font-size;
  line-height: @headline-line-height;
  font-weight: @headline-font-weight;
}

.asset-title { .headline-font(); }

// Body text defaults
@body-font-family: Arial, sans-serif;
@body-font-size: 14px;
@body-line-height: 1.5;
@body-font-weight: 400;

.body-font() {
  font-family: @body-font-family;
  font-size: @body-font-size;
  line-height: @body-line-height;
  font-weight: @body-font-weight;
}

// .description, .description p, .description li, .content, .content p, .content li, .body, .body p, .body li {
.description, .content, .body, p, li {
  .body-font();
}

/* END TYPOGRAPHY */


/* STRUCTURE */

#pop {
  width: 960px;
  margin: 0 auto;
  color: @text-color;
  i, em { font-style: italic; }
  b, strong { font-weight: 700; }
  a {
    color: @link-color;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

// Content wrapper
#main-content { margin: 40px auto; }

// Pop title
#pop-title {
  .headline-font();
  font-size: 60px;
  text-align: center;
}

// Columnizer rows & columns
.columnizer-row {
  width: 960px;
  margin: 30px auto;
}

// Assets
.asset-title {
  margin: 10px 0;
  padding: 0 10px;
}

.description, .body {
  margin: 10px 0;
  padding: 0 10px;
  ul, ol { margin: .5em 0 .5em 2em; }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }
}

.content { margin: 10px 0; }

// Video assets
.asset-type-videogroup .video-js { margin-bottom: 15px; }
.asset-type-videogroup .playlist {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 10px;
  list-style: none;
  li a img {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #777;
  }
}
.asset-type-videogroup video { display: block; }
.asset-type-videogroup .mejs-container video { margin-left: 0; }

.documents {
  margin: 10px;
  li { margin-bottom: .5em; }
}

// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// Populr image slider
#populr > #image-slider-themes > .basic();

///////////////////////////////////////////////////////
/* MOBILE
The Populr mobile reset will handle some of the basics of 
mobilizing your theme, such as stacking all of the assets 
vertically. However, you'll have to fine tune the styling 
to make your theme look really good on mobile devices. */
@media all and (max-width: 960px) {
  #populr > .mobile-reset();
}

