@import 'variables';
@import 'http://populr.me/assets/developers/populr_mixins.less';
@import 'preboot';

#reset > .global-reset();

/* TYPOGRAPHY DEFAULTS */

@text-color: #111;
@link-color: @custom-color;

// Title text defaults
// @headline-font-family is defined in variables.less
.headline-text() {
  font-family: @headline-font-family;
  font-size: 24px;
  line-height: 1.2;
}
.pop-title-text() {
  font-family: @headline-font-family;
  font-size: 54px;
  line-height: 1.1;
}

// Body text defaults
@body-font-family: Arial, sans-serif;
.body-text() {
  font-family: @body-font-family;
  font-size: 14px;
  line-height: 1.5;
}

/* END TYPOGRAPHY DEFAULTS */


/* STRUCTURE */

#pop {
  margin: 0 auto;

  color: @text-color;
  i, em { font-style: italic; }
  b, strong { font-weight: 700; }

  a {
    color: @link-color;
    &:active { color: lighten(@link-color, 20%); }
  }
}

// Content wrapper
#main-content { margin: 40px auto; }

// Pop title
#pop-title {
  .pop-title-text();
  text-align: center;
}

// Columnizer rows & columns
.columnizer-row {
  max-width: 960px;
  margin: 0 auto;
}

.columnizer-col {
  background-color: #bbb;
}

// Assets
.asset-title {
  .headline-text();
  margin: 10px 0;
}

.description, .body {
  .body-text();

  margin: 10px 0;
  ul, ol { margin: .5em 0 .5em 1.5em; }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }
}

.content { margin: 10px 0; }

// Text assets
.asset-type-text.asset-size-1 {
  .asset-title {
    font-size: 36px;
    text-align: center;
  }
  .description, .body .description li, .body li,  {
    font-size: 18px;
    text-align: center;
  }
}

// Image assets
#populr > #image-slider-themes > .basic();

// Document assets
.documents {
  margin: 10px auto;
  li {
    margin-bottom: .5em; }
}

// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

///////////////////////////////////////////////////////
/* MOBILE
The Populr mobile reset will handle some of the basics of 
mobilizing your theme, such as stacking all of the assets 
vertically. However, you'll have to fine tune the styling 
to make your theme look really good on mobile devices. */
@media screen and (max-width: 960px) {
  #populr > .mobile-reset();

  #pop-title { padding: 20px !important; }

  .columnizer-row {
    margin: 20px auto !important;
    padding: 0 20px !important;
  }

  .asset-title {
    font-size: 24px !important;
    text-align: left !important;
  }

  .description, .body, .description li, .body li, {
    font-size: 14px !important;
    text-align: left !important;
  }
}

@media screen and (max-width: 600px) {
  #pop-title { font-size: 32px !important; }

  .asset-title { font-size: 20px !important; }
}

